.title,
.select {
  line-height: 1;
  border-radius: 0.5em;
  border: 0.125em solid currentColor;
  width: 100%;
  color: var(--text);
  background-color: var(--inverse);
}

.title:hover,
.label:hover {
  background-color: var(--inverse-hover);
}

.wrapper {
  --duration: 300ms;
  width: 100%;
  position: relative;
}

.select {
  display: flex;
  flex-direction: column;
  position: absolute;
  overflow: hidden;
  top: 100%;
  padding: 0;
  z-index: -1;
  opacity: 0;
  transform: translateY(-25%);
  transition: color var(--duration) var(--transition), background-color var(--duration) var(--transition), opacity var(--duration) var(--transition),
    transform var(--duration) var(--transition);
}

.select input[type='radio'] {
  visibility: hidden;
}

.label {
  display: flex;
  align-items: center;
  gap: 0.4em;
  padding: 0.375em;
}

.title {
  padding: 0.375em 1.5em 0.375em 0.375em;
  position: relative;
  text-align: left;
  transition: color var(--duration) var(--transition), background-color var(--duration) var(--transition), border var(--duration) var(--transition);
}

.title::before,
.title::after {
  --size: 0.375em;
  content: '';
  position: absolute;
  inset: 50% 0.5em auto auto;
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  transition: opacity var(--duration) var(--transition);
}

.title::before {
  transform: translateY(-120%);
  border-bottom: var(--size) solid currentColor;
  opacity: 0.35;
}

.title::after {
  transform: translateY(20%);
  border-top: var(--size) solid currentColor;
}

.show .select {
  transform: translateY(5%);
  opacity: 1;
}

.show .title::before {
  opacity: 1;
}

.show .title::after {
  opacity: 0.35;
}
