.homeSection {
  overflow: hidden;
  display: grid;
  place-items: center;
  place-content: center;
  width: 100%;
  min-height: calc(100vh - 3rem);
}

/* .clouds {
  width: 140%;
}

.clouds :where(path:nth-child(1)) {
  transform: translateX(calc(10% - 10vw));
}

.clouds :where(path:nth-child(4), path:nth-child(5)) {
  transform: translateX(calc(-10% + 10vw));
} */

.hero {
  display: grid;
  gap: 0.25em 1em;
  place-content: center;
  place-items: center;
  margin-inline: auto;
  padding-inline: 0.25em;
  font-size: clamp(3.75rem, 12vw, 6rem);
  max-width: 80rem;
}

.title {
  font-size: 1em;
  line-height: 1;
  font-weight: 900;
  letter-spacing: -0.03rem;
  white-space: nowrap;
}

.subtitle {
  font-size: 0.5em;
  letter-spacing: -0.015rem;
  margin-bottom: 1rem;
  white-space: nowrap;
}

.introText {
  font-size: 0.33em;
  text-align: center;
  max-width: 32ch;
  margin-block: 1rem;
}

.btn {
  font-size: clamp(1.5rem, 4.8vw, 1.75rem);
}

@media only screen and (min-width: 60rem) {
  .hero {
    grid-template-columns: minmax(min-content, 1fr) 1fr;
    min-height: 50vh;
  }

  .subtitle {
    margin-bottom: 0;
  }

  .introText {
    max-width: 40ch;
    font-size: 0.25em;
    margin-top: 0;
  }

  .svgScene {
    grid-row: 1 / span 4;
    grid-column: 2;
  }
}
