.wrapper {
  --delay: 80ms;
  --curve: 0.625em;
  position: relative;
}

.show .label {
  transform: translateX(0);
  opacity: 1;
  transition-delay: calc(var(--delay) * var(--index)); /* Incrementaly delay starting at top item */
}

.select {
  display: flex;
  margin: 0;
  border: none;
  position: absolute;
  flex-direction: column;
  top: 100%;
  left: 0;
  padding: 0;
  z-index: -1;
  transform: translateY(0.25em);
}

.select input[type='radio'] {
  visibility: hidden;
}

.title,
.label {
  width: 17.5ch;
  padding: 0.25em 1.5em 0.25em 0.5em;
  font-weight: 700;
  color: var(--text);
  background-color: var(--inverse);
  text-transform: capitalize;
}

.title:hover,
.label:hover {
  background-color: var(--inverse-hover);
}

.label {
  border-block: none;
  border-inline: 0.125em solid currentColor;
  transform: translateY(-25%);
  opacity: 0;
  transition: opacity var(--duration) var(--transition), transform var(--duration) var(--transition);
  transition-delay: calc(var(--delay) * (var(--max-index) - var(--index))); /* Incremental delay starting from the bottom most item */
  z-index: calc(-1 * var(--index));
}

.label:first-of-type {
  border-top: 0.125em solid currentColor;
  border-radius: var(--curve) var(--curve) 0 0;
}

.label:last-of-type {
  border-bottom: 0.125em solid currentColor;
  border-radius: 0 0 var(--curve) var(--curve);
}

.title {
  border-radius: 10px;
  border: 0.125em solid currentColor;
  position: relative;
  text-align: left;
}

.title::before,
.title::after {
  --size: 0.375em;
  content: '';
  position: absolute;
  transform: translateY(-25%);
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  transition: opacity var(--duration) var(--transition);
}

.title::before {
  inset: 30% 0.5em auto auto;
  border-bottom: var(--size) solid currentColor;
  opacity: 0.35;
}

.title::after {
  inset: 60% 0.5em auto auto;
  border-top: var(--size) solid currentColor;
}

.show .title::before {
  opacity: 1;
}

.show .title::after {
  opacity: 0.35;
}
